<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>
      {% block title %}Does it work?{% endblock %}
    </title>
    {% include "_head.njk" %}
    {% block head %}{% endblock %}
    <script defer src="{{ baseUrl }}/js/alpine.js?v={{ version or '1' }}"></script>
  </head>
  <body>
    {% include "navigation.njk" %}
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>