@theme {
  /* color primitives */
  --color-background: #F9F8F6;     /* Warm Alabaster */
  --color-foreground: #1A1A1A;     /* Rich Charcoal */
  --color-muted-bg: #EBE5DE;       /* Pale Taupe */
  --color-muted: #6C6863;          /* Warm Grey */
  --color-gold: #D4AF37;           /* Metallic Gold */
  /* --color-accent: #D4AF37;          Metallic Gold */
  --color-accent: orange;
  --color-accent-fg: #FFFFFF;      /* Pure White */
  --color-dark: #1A1A1A;
  --color-dark-fg: #F9F8F6;

  /* color semantic */
  --color-navigation: var(--color-foreground);
  --color-navigation-hover: var(--color-accent);
  --color-navigation-active: var(--color-accent);
}
